.header {
  background-color: $color-purple;
  text-align: center;
  position: relative;
  overflow: hidden;
  &__title {
    font-size: 4.5rem;
    line-height: 1;
    padding: 5rem 10rem;
    display: inline-block;
    color: $color-white;
    font-family: WorkSans;
    font-weight: 300;
    background-image: url(../../svg/circle.svg), url(../../svg/triangle.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 26rem, 16.5rem;
    background-position: 100% 140%, 100% 100%;
    @include respond(phone) {
      padding: 5rem 0;
      background-size: 30rem, 22rem;
      background-position: 215% 310%, 150% 100%;
    }
    & span {
      font-family: SpaceMono;
      font-weight: bold;
      background-image: url(../../svg/circle.svg);
      background-size: cover;
      background-position: center;
      white-space: nowrap;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
